.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  min-height: 100svh;
  padding: 2.5rem;
  
  @media screen and (min-width: 64rem) {
    padding: 5rem;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.title {
  font-family: 'Teko', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}

.main {
  margin-top: 0.5rem;
}

.nav {
  width: max-content;
  font-size: 0.875rem;
  font-weight: 500;

  &_items {
    list-style: none;
    
    @media (hover: hover) and (pointer: fine) {
      &:has(> .nav_item:hover) > .nav_item:not(:hover),
      &:has(> .nav_item:focus-within) > .nav_item:not(:focus-within) {
        opacity: 0.5;
  
        & > .nav_link {
          scale: 0.95;
        }
      }
    }
  }

  &_item {
    display: block;
    transition: opacity 0.25s;

    @media (hover: hover) and (pointer: fine) {
      &:hover,
      &:focus-within {
        & > .nav_link {
          scale: 1.15;
        }
      }
    }
  }

  &_link {
    display: inline-block;
    transform-origin: left center;
    width: 100%;
    padding: 0.5rem 0;
    color: var(--link);
    text-decoration-line: underline;
    text-underline-offset: 0.25rem;
    transition: scale 0.25s;
  }
}

.footer {
  margin-top: 2rem;

  &_nav {
    font-size: 0.75rem;
    font-weight: 400;

    &_items {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      list-style: none;
    }

    &_item {
      padding: 0 1rem 0 0;

      &:last-child {
        padding-left: 0;
      }
    }

    &_link {
      display: inline-block;
      transform-origin: center center;
      transition: scale 0.25s;
      color: var(--foreground);

      @media (hover: hover) and (pointer: fine) {
        &:hover,
        &:focus-within {
          scale: 1.15;
        }
      }
    }
  }
}
